PluralSightSketchFlow/PluralSightSketchFlow/PluralSightSketchFlowScreens/SampleData/TreeViewData/TreeViewData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.TreeViewData" targetNamespace="Expression.Blend.SampleData.TreeViewData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TreeViewData" type="tns:TreeViewData" />
  <xs:complexType name="TreeViewData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>